.photo-card__btn-like {
  padding: 11px;
  background-image: url("../../../images/like_image.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  width: 21px;
  cursor: pointer;
  height: 19px;
  transition: opacity .4s ease;
  transition: 0.3s;
}

.photo-card__btn-like:hover {
  opacity: .5;
}