.profile {
  margin: 0 auto;
  width: calc(100% - 200px * 2);
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1079px) {
  .profile {
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
  }
  }

  @media screen and (max-width: 450px) {
    .profile {
      margin-top: 38px;
    }
    }