.popup-form__input {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 27px;
  padding-left: 6px;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}