.profile-info__btn-edit {
  background-image: url(../../../images/profile-edit-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-color: black;
  border: 1px solid white;
  transition: opacity .4s ease;
}

.profile-info__btn-edit:hover {
  opacity: .6;
}
