.photo-card__btn-like_active {
  padding: 11px;
  background-image: url("../../../../images/like_image_active.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  width: 21px;
  height: 19px;
  transition: opacity .4s ease;
  transition: 0.3s;
}

.photo-card__btn-like:hover {
  transform: scale(1.3);
  opacity: .5;
}
