.photo-card__title {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}