.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
  }