.footer {
  margin: 0 auto;
  width: calc(100% - 200px * 2);
  margin-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 70px * 2);
  }
  }

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
  }
  }