@font-face {
    src: url('./Inter-Regular-slnt=0.ttf') format('ttf'),
        url('./Inter-Regular-slnt0.woff2') format('woff2'),
        url('./Inter-Regular-slnt0.woff') format('woff');
    font-family: 'Inter';
    font-weight: 400;
  }

  @font-face {
    src: url('./Inter-Medium-slnt=0.ttf') format('ttf'),
        url('./Inter-Medium-slnt=0.woff2') format('woff2'),
        url('./Inter-Medium-slnt_0.woff') format('woff');
    font-family: 'Inter';
    font-weight: 500;
  }
  
@font-face {
    src: url('./Inter-Black-slnt=0.ttf') format('ttf'),
        url('./Inter-Black-slnt0.woff2') format('woff2'),
        url('./Inter-Black-slnt0.woff') format('woff');
    font-family: 'Inter';
    font-weight: 900;
  }

  