.header {
    margin: 0 auto;
    box-sizing: border-box;
    width: calc(100% - 200px * 2);
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
    .header {
      width: calc(100% - 70px * 2);
      padding: 35px 0 35px;
    }
    }
  
  @media screen and (max-width: 767px) {
    .header {
      width: 100%;
      /* height: 56px; */
    }
    }

    @media screen and (max-width: 450px) {
      .header {
        width: 100%;
        padding: 28px 0 31px;
      }
      }